<div class="root">
    <div class="navbar has-background-primary">
        <div class="navbar-brand">
            <div class="navbar-item">
                <h1 class="app-name has-text-white is-size-3">Kanban</h1>
            </div>
        </div>
    </div>


    <div class="board">
        <div class="board-bar">
            <p class="board-name">Board name</p>
        </div>
        <div class="board-wrapper">
            <div class="board-columns">
                <div class="board-column">
                    <div class="column-title">
                        Todo
                    </div>
                    <div class="tasks-container">
                        <div class="task box">
                            this is a task
                        </div>
                        <div class="task box">
                            this is a task
                        </div>
                        <div class="task box">
                            this is a task
                        </div>
                        <div class="task box">
                            this is a task
                        </div>
                    </div>
                </div>
                <div class="board-column">
                    <div class="column-title">
                        inprogress
                    </div>
                </div>
                <div class="board-column">
                    <div class="column-title">
                        done
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>