.root {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.app-name {
    font-family: "Lato", sans-serif;
    font-weight: 600;
}
.board-bar {
    padding: 8px 15px;
    color: white;
    position: relative;
    /* z-index: -1;  */
}
.board-bar::after {
    content: "";
    background: lightgray;
    position: absolute;
    opacity: 0.3;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
}
.board-bar .board-name {
    /* opacity: 1; */
font-size: large;
}
