/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bulma/css/bulma.css";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:wght@400;700&display=swap");


*{
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: "Nunito", sans-serif;
    height: 100vh;
    background-image: url(./assets/images/triangles.svg);
    background-repeat: no-repeat;
    background-size: cover;
}
